.main{
    display: flex;
}
.logobox{
    display: flex;
    align-items: center;
}
.logo{
    width: 30px;
    height: 30px;
}
.logoName{
    color: rgb(10,102,194);
}
.leftBox{
    width: 50%;
    height: 800px;
    padding: 100px;
}

.name{
    color: rgb(155,106,92);
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box1{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.but{
    display: flex;
    /* margin-left: 10px; */
}
.butt{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(10,102,194);
    color: white;
}
.line1{
    width: 100px;
}
.signintext{
    margin-left: 50px;
}
.bold{
    color: blue;
}
.firstBox{
    display: flex;
    justify-content: space-around;
}
.rigthBox{
    width: 50%;
    height: 800px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}
.image{
    width: 30px;
    height: 30px;
}
.li{
    height: 50px;
    border: 1px solid blue;
}
.text1{
    color: rgb(113,132,148);
}
.signbut{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: blue;
}
.secondBox{
    padding: 50px;
}
.back{
    width: 700px;
    height: 400px;
}